@page "/WriteComment"
@using PSC.Blazor.Components.MarkdownEditor.Enums
<h3>WriteComment</h3>

<div class="col-md-12">
    <MarkdownEditor @bind-Value="@markdownValue"
                    ValueHTMLChanged="@OnMarkdownValueHTMLChanged"
                    SpellChecker="false" @ref="Markdown1"
                    CustomButtonClicked="@OnCustomButtonClicked">

    </MarkdownEditor>

    <hr/>
    @((MarkupString)buttonText)

    <hr style="height: 2px;"/>

    @((MarkupString)markdownHtml)

    <hr style="height: 2px;"/>
</div>

@code {
    MarkdownEditor Markdown1;

    string markdownValue = "# Test";
    string markdownHtml;
    string buttonText;

    async Task ChangeText()
    {
        markdownValue = "Test!";
        await Markdown1.SetValueAsync(markdownValue);
    }

    protected override void OnInitialized()
    {
        markdownHtml = Markdig.Markdown.ToHtml(markdownValue ?? string.Empty);
        base.OnInitialized();
    }

    Task OnMarkdownValueHTMLChanged(string value)
    {
        markdownHtml = value;
        return Task.CompletedTask;
    }

    Task OnCustomButtonClicked(MarkdownButtonEventArgs eventArgs)
    {
        Console.WriteLine("OnCustomButtonClicked -> " + eventArgs.Value);
        buttonText += "OnCustomButtonClicked -> " + eventArgs.Value + "<br />";

        return Task.CompletedTask;
    }
}